{% extends 'base.html' %}

{% block title %}Article: {{article.title}} {% endblock %}

{% block content %}
	<h2 class="title">{{article.title}}</h2>
	<h5>By author: {{article.author.first_name}} {{article.author.last_name}}</h5>
	{% if article.category == "SP" %}
		<h5>Category: Sports</h5>
	{% endif %}
	{% if article.category == "BU" %}
		<h5>Category: Buisness</h5>
	{% endif %}
	{% if article.category == "TE" %}
		<h5>Category: Technology</h5>
	{% endif %}
	{% if article.category == "EN" %}
		<h5>Category: Entertainment</h5>
	{% endif %}
	<div class="row">
		<p>{{article.body}}</p>
	</div>
	<div class="row">
		<h5>Comments Section</h5>
		<div class="row">
			<form class="col s12" method="post">
				{% csrf_token %}
				<div class="input-field col s12">
					<textarea name="body" id="body" class="materialize-textarea"></textarea>
					<label for="body">Comment:</label>
				</div>
				<button type="submit">Post</button>
			</form>
		</div>
		{% if comments %}
			{% for comment in comments %}
			<div class="row">
				<h6>Comment by user: {{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
				<p>{{ comment.body }}</p>
			</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
