<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
	<style>
		body{
			border: 1px solid #000000;
			border-radius: 5px;
			padding: 1%;
		}
		div{
			padding: 3px;
			border: 1px solid black;
			margin: 1px;
		}
		.title{
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			font-size: 30pt
		}
		.score{
			font-size: 30px;
			color:red;
			wrap: 
		}
		.news{
			font-family: "Comic Sans MS", cursive, sans-serif;
		}
	</style>
	<script>
		vote(voteType){
			
		}
	</script>
	
</head>
<body>
	<div class="title">{{article.title}} - id: {{article.id}}</div>
	<div>
		<div class="score" id="value">Score: {{article.score}} &nbsp; Authour: {{article.author_id}}</div>
		<form action=submit>
		{% csrf_token %}
			<input type=button value="Like" onclick=vote('up')/>
			<input type=button value="Dislike" onclick=vote('down') />
		</form>
	<div>
	<div class="news">Body <br> {{article.body}}</div>
	<div class="comments">Comments Section</div>
	
</body>
</html>