{% extends 'base.html' %}

{% block title %}LiteralActualFakeNews{% endblock %}

{% block content %}
	<h1>Your daily news:</h1>
	<div>
	{% if latest_article_list %}
		<ul>
		{% for article in latest_article_list %}
		<div class="row">	
			<li><a href="/news/{{article.id}}/">
			{% if article.category == "SP" %}
				Sports:
			{% endif %}
			{% if article.category == "BU" %}
				Buisness:
			{% endif %}
			{% if article.category == "TE" %}
				Technology:
			{% endif %}
			{% if article.category == "EN" %}
				Entertainment:
			{% endif %}
			{{article.title}}
			</a></li>
		</div>
		{% endfor %}
		</ul>
	{% else %}
		<p>No articles are available.</p>
	{% endif %}
	</div>
{% endblock %}
